.contenedorItem{
    padding: .5rem;
    text-align: center;
    border: 1px solid black;
    border-radius: 12px;
    width: 90%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f2f4f5;
    display: grid;
    grid-template-columns: repeat(4 ,auto);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
    'img img nombre precio'
    'img img des des'
    'img img contador seguir'
    'img img stock stock'
    ;
}

.nombre {
    grid-area: nombre;
}

.precio {
    grid-area: precio;
}

.img {
    grid-area: img;
    width: 300px;
}
.descripcion {
    grid-area: des;
}

.contador {
    grid-area: contador;
}

.stock{
    grid-area: stock;
}

.finalizar-compra {
    text-decoration: none;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #000;
    grid-area: contador;
    width: 60%;
    font-weight: bold;
    margin: 1rem auto;
    padding: .5rem;
}

.seguir-comprando {
    text-decoration: none;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #000;
    grid-area: seguir;
    width: 60%;
    font-weight: bold;
    margin: 1rem auto;
    padding: .5rem;
}