.cardProducto {
    background-color: #e0e1e1;
    border-radius: 14px;
    width: 15rem;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    position: relative;
}

.cardProducto img {
    width: 130px;
    object-fit: contain;
    padding: 1rem;
}

.detalles {
    background-color: #76804f;
    color: #fafafa;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    text-decoration: none;
}

/* .avisoStock{
    background-color: #e34d55;
    color: #fafafa;
    padding: .4rem;
    border-radius: 10px;
    position: absolute;
    top: -2%;
    right: -2%;
} */

.stock{
    color: #aaa;
}