*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 16px solid #F4DFC8;
    padding: 1rem;
}

li{
    display: inline-block;
    margin: 20px;
    cursor: pointer;
    text-transform: uppercase;
}

.link{
    text-decoration: none;
}

.logo-apple {
    width: 50%;
}

.soy-admin {
    border: none;
    border-radius: 14px;
    padding: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #000;
}